<div>
  <table>
    <tr>
      <td>
        <div ng-if='hasMessage()'> {{getMessage()}}</div>
      </td>
      <td>
        <div ng-if='elapsed > 200'>
          <i class='fa fa-cog fa-spin fa-lg'></i>
          <span> Elapsed: {{getElapsedTime()}} </span>
          <i class='fa fa-times-circle fa-lg text-danger cursor_hand' ng-click='cancel()' ng-if='isCancellable()' title='cancel'></i>
        </div>
      </td>
      <td>
        <div ng-if='hasProgressBar()'> Progress: {{getProgressBar()}} %</div>
      </td>
    </tr>
  </table>
</div>
<bk-code-cell-output ng-if='hasPayload()' model='outputDisplayModel'></bk-code-cell-output>
