<div>
  <table>
    <tr>
      <td>
        <div ng-if='hasMessage()'> {{getMessage()}}</div>
      </td>
      <td>
        <div ng-if='elapsed > 200'>
          <i class='fa fa-cog fa-spin fa-lg'></i>
          <span> Elapsed: {{getElapsedTime()}} </span>
        </div>
      </td>
      <td>
        <div ng-if='hasProgressBar()'> Progress: {{getProgressBar()}} %</div>
      </td>
    </tr>
  </table>
</div>
<bk-output-display ng-if='hasPayload()' model='outputDisplayModel' type='{{getOutputDisplayType()}}'></bk-output-display>
