#data_side_panel {
  position: relative;
  top: 0;
  right: 0;
  height: 100%;
  font-size: 1em;
  overflow: auto;
  background-color: #F6F6F6;
}

.data_side_panel_splitbar {
  float: right;
  cursor: col-resize;
  height: 100%;
  width: 8px;
  background-color: #F1F1F1;
}

.data_side_panel_inner {
  float: left;
  overflow: auto;
  height: inherit;
  width: calc(100% - 8px);
}

.data_side_panel_inner > div:not(.alert) {
  padding: 0.5em;
}

.cell-dragover {
  border-bottom-color: #42A5F5 !important;
  border-bottom-width: 5px !important;
}

.hit {
  font-size: 0;
  padding: 12px 12px 15px 12px;
  border: 1px solid #D0D8DF;
  margin: 0 10px 20px 10px;
  border-radius: 1px;
  background: #fff;
  position: relative;
}

.hit-image {
  display: inline-block;
  width: 7%;
  margin-right: 10px;
}

.hit-image img {
  width: 100%;
  max-width: 50px;
  height: auto;
}

.hit-content {
  font-size: 13px;
  font-weight: 300;
  display: inline-block;
  width: 91%;
  margin-left: 0;
  vertical-align: top;
}

h4.hit-name {
  font-size: 1.5em;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  margin-bottom: 3px;
  color: #0B8FFF;
  font-weight: 600;
  cursor: pointer;
}

p.hit-description {
  display: block;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

.hit-content .hit-description {
  color: #515b66;
}

.hit-code {
  color: #e03d2e;
  padding: 0 3px;
  margin-left: 2px;
}

.go-back {
  color: #0B8FFF;
  font-size: 1.4em;
  font-weight: bolder;
  cursor: pointer;
  float: left;
  margin: 5px 10px; 
}

.go-back:hover {
  color: #52ABF9;
}

.outlinkbtn {
  float: right;
  margin: 0px 10px; 
  background-color: #e25829;
}

.outlinkbtn a {
  color: white;
}

.holder {
  display: block;
}

.data-label {
  display: inline-block;
  padding: 2px 4px;
  font-size: 13px;
  font-weight: bolder;
  line-height: 14px;
  color: #585D5F;
  vertical-align: baseline;
  white-space: nowrap;
  text-shadow: 0 0 0 rgba(0, 0, 0, 0.25);
  background-color: #D8DBDC;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}


#data_side_panel pre {
  cursor: move;
}

#data_side_panel a {
  cursor: pointer;
}
.des-column {
  padding: 12px 12px 15px 12px;
  border: 1px solid #D0D8DF;
  margin: 5px 10px 0 10px;
}

ul.breadcrumb {
  margin-bottom: 0px;
  padding: 0 15px;
}
