<div class='modal-header'>
  <button class='close' ng-click='close()'>Close</button>
  <h3>About Beaker</h3>
</div>
<div class='modal-body'>
  <p>
    Beaker is a web-based, polyglot research platform built
    by <a href="http://www.twosigma.com">Two Sigma</a>.
    The source code is available under the Apache 2.0 License on <a href="https://github.com/twosigma/beaker-notebook">GitHub</a>.
  </p>

  <p>
      Please report any bugs of feature requests as <a href="https://github.com/twosigma/beaker-notebook/issues/new">GitHub issues</a>. Learn more at 
    <a href="http://beakernotebook.com">beakernotebook.com</a>.
  </p>

  <p>
    <ng-include src="'template/version.html'"/>
  </p>
</div>
