*~
*.pyc
.idea/
.metadata/
.recommenders/
.gradle/
.settings/
RemoteSystemsTempFiles/
jupyter_contrib_nbextensions/
Groovier-1.0.0.jar
jupyter-groovy-kernel.log
jupyter-groovy-kernel-1.0.0.jar
jupyter-groovy-kernel.log
.ipynb_checkpoints/
/*.ipynb
