build
beaker/*
node_modules
core/nginx/bin
core/src/main/web/vendor/bower_components
core/src/main/web/template/version.html
shared/src/main/dist/
core/src/main/dist/
core/config/plugins/
plugin/jvm/src/main/dist/
*~
.gradle
.idea
src/main/main.iml
nbproject/
build.xml
manifest.mf
