build
beaker/*
node_modules
core/nginx/bin
core/src/vendor
shared/src/main/dist/
core/src/main/dist/
core/config/plugins/
core/config/version
core/config/build_time
core/src/main/web/app/vendor
core/src/main/web/plugin/init/addoutputdisplays.js
plugin/jvm/src/main/dist/
*~
.gradle
.idea
src/main/main.iml
*.iml
nbproject/
build.xml
manifest.mf
.DS_Store
/core/src/main/web/app/app.css
npm-debug.log
core/src/main/web/app/templates.js
core/config/hash
core/src/main/web/index.html
/bin/

launcher/electron/tools.jar
launcher/electron/jre.zip
launcher/electron/jre
launcher/electron/dist
launcher/electron/electron-v0.28.1-darwin-x64
launcher/electron/electron-v0.28.1-darwin-x64.zip
core/src/main/web/animation.gif
core/src/main/web/foo.html
launcher/electron/Beaker.app
launcher/electron/app/main-menu-template.js
tags
launcher/electron/BeakerOSX
launcher/electron/create-dmg
launcher/electron/_MACOSX
launcher/windows/python

core/src/main/web/vendor/bower_components/jquery/test
core/src/main/web/vendor/bower_components/jquery/speed
core/src/main/web/vendor/bower_components/jquery/src

core/src/main/web/vendor/bower_components/q/design
core/src/main/web/vendor/bower_components/q/examples
core/src/main/web/vendor/bower_components/q/spec

core/src/main/web/vendor/bower_components/font-awesome/src
core/src/main/web/vendor/bower_components/font-awesome/less
core/src/main/web/vendor/bower_components/font-awesome/scss

core/src/main/web/vendor/bower_components/acorn/test

core/src/main/web/vendor/bower_components/underscore.string/test

core/src/main/web/vendor/bower_components/moment-timezone/data
core/src/main/web/vendor/bower_components/moment/src
core/src/main/web/vendor/bower_components/moment/locale
core/src/main/web/vendor/bower_components/moment/templates

core/src/main/web/vendor/bower_components/datatables-colreorder/.bower.json
core/src/main/web/vendor/bower_components/datatables-colreorder/License.txt
core/src/main/web/vendor/bower_components/datatables-colreorder/Readme.md
core/src/main/web/vendor/bower_components/datatables-colreorder/bower.json
core/src/main/web/vendor/bower_components/datatables-colreorder/make.sh
core/src/main/web/vendor/bower_components/datatables-colreorder/examples

core/src/main/web/vendor/bower_components/datatables-fixedcolumns/.bower.json
core/src/main/web/vendor/bower_components/datatables-fixedcolumns/License.txt
core/src/main/web/vendor/bower_components/datatables-fixedcolumns/Readme.md
core/src/main/web/vendor/bower_components/datatables-fixedcolumns/bower.json
core/src/main/web/vendor/bower_components/datatables-fixedcolumns/make.sh
core/src/main/web/vendor/bower_components/datatables-fixedcolumns/examples

core/src/main/web/vendor/bower_components/datatables/.bower.json
core/src/main/web/vendor/bower_components/datatables/Contributing.md
core/src/main/web/vendor/bower_components/datatables/Readme.md
core/src/main/web/vendor/bower_components/datatables/bower.json
core/src/main/web/vendor/bower_components/datatables/license.txt
core/src/main/web/vendor/bower_components/datatables/media/css/jquery.dataTables.min.css
core/src/main/web/vendor/bower_components/datatables/media/css/jquery.dataTables_themeroller.css
core/src/main/web/vendor/bower_components/datatables/media/js/jquery.dataTables.min.js
core/src/main/web/vendor/bower_components/datatables/media/js/jquery.js
core/src/main/web/vendor/bower_components/datatables/media/images/Sorting icons.psd
core/src/main/web/vendor/bower_components/datatables/media/images/favicon.ico
