html {
  .modal-content {
    border-width: 5px 0 0;
    border-color: #098CCD;
  }

  .modal-header {
    border-bottom-width: 0;
  }

  .modal-open.has-scroll {
    margin-right: $scrollbar-width;
  }

  $fixed-header-height: 112px;
  $fixed-footer-height: 130px;

  .modal-header.fixed {
    height: $fixed-header-height;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    width: 100%;
    background: #FFF;
    z-index: 1;
  }

  .modal-body {
    overflow-y: auto;
    padding-top: 0;
    padding-bottom: 0;
  }

  .modal-body.fixed {
    box-sizing: border-box;
    padding-top: $fixed-header-height;
    padding-bottom: $fixed-footer-height;
    max-height: calc(100vh - 70px);
  }

  .modal-body.error-title {
    background-color: rgba(225, 0, 0, 0.5);
    padding: 10px 25px;
  }

  .modal-body .modal-error-details {
    font-family: $font-family-mono;
    white-space: pre;
  }

  .modal-footer {
    border-width: 0;
  }

  .modal-footer.fixed {
    background-color: white;
    height: $fixed-footer-height;
    padding-top: 14px;
    padding-bottom: 15px;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  .filedialog{
    display:block;
    margin:auto;
  }

  .filedialog-header{
    position: relative !important;
  }

  .filedialog-content{
    max-height: calc(100vh - 320px) !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }

  .filedialog-footer{
    position: relative !important;
  }
}

.modal {
  h1, h2, h3, h4, h5, h6 {
    font-size: 14px;
  }
}

.filters-and-sorts {
  margin: 10px 0;
}

#saveAsFileInput {
  width: calc(100% - 40px);
}

.new-folder {
  cursor: pointer;
  margin-left: 8px;
  position: relative;
  top: 6px;
}

.sign-in {
  .field {
    border: 1px solid #e6e6e6;
    width: 40%;
  }
  input, label, select, h1, .error {
    display: block;
    margin-bottom: 10px;
  }
  .error {
    color: $error_red;
  }
  .sign-up {
    margin-top: 10px;
  }
  .loading-spinner {
    margin-left: 0;
  }
}

.publish  {
  h1 {
    margin-bottom: 20px;
  }
  .field{
    width: 100%;
    margin-bottom: 10px;
  }
  input, label, select, h1 {
    display: block;
  }
  input.btn {
    display: inline-block;
  }
  input.field, select, textarea {
    border: 1px solid #e6e6e6;
  }
  select {
    padding: 9px 11px;
    outline: 0;
    background-color: #e6e6e6;
    border-radius: 0;
    -webkit-appearance: none;
    border-color: #dbdbdb;
    background: #e6e6e6 url(../images/arrow_down.svg) no-repeat right 8px center;
    background-repeat: no-repeat;
  }
  ul.publication-details {
    list-style: none;
    li {
      div {
        display: inline-block;
      }
      .time-label {
        width: 100px;
      }
      .value {
        color: #6fc21d;
      }
    }
  }
  .preview-image {
    position: relative;
    margin-bottom: 10px;
    .remove {
      position: absolute;
      top: 16px;
      left: 42px;
      padding: 0 10px;
      cursor: pointer;
      text-decoration: none;
      font-size: 120%;
      display: inline-block;
      font-family: 'arial', 'sans-serif';
      font-weight: bold;
      color: #333;
    }
  }
  .file-upload {
    margin-bottom: 10px;
    display: inline-block;
    cursor: pointer;
  }
  .actions {
    margin-top: 20px;
    margin-bottom: 20px;
    .warning {
      font-style: italic;
    }
  }
  .identity {
    position: relative;
    a {
      cursor: pointer;
    }
    .name {
      font-weight: bold;
    }
    .text {
      position: absolute;
      top: 8px;
      left: 35px;
    }
  }
  .loading-spinner {
    left: -8px;
    top: 3px;
  }
}

// Fix for modal flash on open - https://github.com/angular-ui/bootstrap/issues/5183
// If/when that issue is fixed, we can remove this
body > [uib-modal-window]:not([modal-render]) {
  display: none;
}
