html {
  .modal-content {
    border-width: 5px 0 0;
    border-color: #098CCD;
  }

  .modal-header {
    border-bottom-width: 0;
  }

  .modal-body {
    padding-top: 0;
    padding-bottom: 0;
  }

  .modal-footer {
    border-width: 0;
  }
}

.filters-and-sorts {
  margin: 10px 0;
}

#saveAsFileInput {
  width: calc(100% - 40px);
}

.new-folder {
  cursor: pointer;
  margin-left: 8px;
  margin-top: 6px;
}
