.advanced-mode {
  .advanced-hide {
    display: none !important;
  }

  .bkcell .CodeMirror {
    top: -20px;
    position: relative;
    margin-bottom: -25px;
  }

  bk-output-display pre {
    position: relative;
    top: 15px;
    left: 5px;
    margin-top: 5px;
    padding-bottom: 20px;
  }
}
