.plugin-manager {
  bk-language-logo {
    position: relative;

    span {
      margin-bottom: -5px;
      top: -3px;
      position: relative;
    }
  }

  .languages {
    margin-bottom: 20px;

    button {
      float: left;
      width: 24%;
      margin-right: 1%;
      margin-bottom: 1%;
      padding-left: 12px;
      padding-right: 12px;
      text-align: left;

      &:nth-child(4n) {
        margin-right: 0;
      }
    }
  }
}

.language-option {
  textarea {
    resize: vertical;
  }

  &.property {
    .set {
      margin-top: 10px;
    }
  }

  &.action {
    margin-bottom: 10px;
  }
}
