<div class="modal-header">
  <h3>SQL Login</h3>
</div>
<div class="modal-body">
  <p>
    <table class="table">
      <tbody>
        <tr>
          <td ng-if="sqlConnectionData.connectionName == null">Default data source</td>
          <td ng-if="sqlConnectionData.connectionName != null">Named data source</td>
          <td>{{sqlConnectionData.connectionName}}</td>
        </tr>
        <tr>
          <td>Connection string</td>
          <td>{{sqlConnectionData.connectionString}}</td>
        </tr>
        <tr>
          <td>User</td>
          <td><input type="text" id="user_field" ng-model="sqlConnectionData.user" class="field" placeholder="User"></input></td>
        </tr>
        <tr>
          <td>Password</td>
          <td><input type="password" id="password_field" placeholder="Password" ng-model="sqlConnectionData.password"></input></td>
        </tr>
      </tbody>
    </table>
  </p>
</div>
<div class="modal-footer">
  <button class="yes btn btn-default" ng-click="okFunction()">OK</button>
  <button class="cancel btn btn-default" ng-click="cancelFunction()">Cancel</button>
</div>