@font-face {
  font-family: 'pt_sansregular';
  src: url("../fonts/regular/pts55f-webfont.eot");
  src: url("../fonts/regular/pts55f-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/regular/pts55f-webfont.woff") format("woff"), url("../fonts/regular/pts55f-webfont.ttf") format("truetype"), url("../fonts/regular/pts55f-webfont.svg#pt_sansregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'pt_sansbold';
  src: url("../fonts/bold/pts75f-webfont.eot");
  src: url("../fonts/bold/pts75f-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/bold/pts75f-webfont.woff") format("woff"), url("../fonts/bold/pts75f-webfont.ttf") format("truetype"), url("../fonts/bold/pts75f-webfont.svg#pt_sansbold") format("svg");
  font-weight: normal;
  font-style: normal;
}

body {
  border:0;
	font-family: 'pt_sansregular', Helvetica, sans-serif;
	font-size:13px;
	line-height:1.6;
  margin:0;
}
