/build/
/src/main/java/com/twosigma/beakerx/cpp/autocomplete
/src/main/resources/libCRun.jnilib
/src/main/resources/CppKernel.h
/src/main/resources/cpp
/src/main/resources/cpp.bat
/.classpath
/.project
/bin/
