core/build
beaker/*
node_modules
nginx/bin
src/vendor/
src/main/web/template/version.html
src/main/dist/
src/main/web/app/temp
src/main/web/app/dist
*~
.gradle
.idea
src/main/main.iml
nbproject/
build.xml
manifest.mf
src/main/resources/pluginsconfiguration.config

