// Declare fonts globally
@import "src/main/web/app/styles/variables";
@import "src/main/web/app/styles/fonts";
@import "src/main/web/vendor/bower_components/bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import "src/main/web/vendor/bower_components/bootstrap-sass/assets/stylesheets/bootstrap/glyphicons";
@import "src/main/web/vendor/bower_components/font-awesome/css/font-awesome";

// Declare Codemirror Hint styles globally (these append to body)
@import "src/main/web/vendor/bower_components/codemirror/addon/hint/show-hint";

.beaker-sandbox {
  @import "src/main/web/app/temp/namespacedCss/beakerApp";
  @import "src/main/web/app/temp/namespacedCss/beakerOutputDisplay";
}
