// Declare fonts globally
@import "src/main/web/app/styles/variables";
@import "src/vendor/bower_components/bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import "src/vendor/bower_components/bootstrap-sass/assets/stylesheets/bootstrap/glyphicons";
@import "src/vendor/bower_components/font-awesome/css/font-awesome";

.beaker-sandbox {
  @import "src/main/web/app/temp/namespacedCss/beakerApp";
  @import "src/main/web/app/temp/namespacedCss/beakerOutputDisplay";
}
