// Declare fonts globally
@import "src/main/web/app/styles/variables";
@import "src/main/web/app/styles/fonts";
@import "src/main/web/vendor/bower_components/bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import "src/main/web/vendor/bower_components/bootstrap-sass/assets/stylesheets/bootstrap/glyphicons";
@import "src/main/web/vendor/bower_components/font-awesome/scss/font-awesome.scss";

// Declare Codemirror Hint styles globally (these append to body)
//@import "src/main/web/vendor/bower_components/codemirror/addon/hint/show-hint.css";
// can't use gulp-import-css...

.CodeMirror-hints {
  position: absolute;
  z-index: 10;
  overflow: hidden;
  list-style: none;

  margin: 0;
  padding: 2px;

  -webkit-box-shadow: 2px 3px 5px rgba(0,0,0,.2);
  -moz-box-shadow: 2px 3px 5px rgba(0,0,0,.2);
  box-shadow: 2px 3px 5px rgba(0,0,0,.2);
  border-radius: 3px;
  border: 1px solid silver;

  background: white;
  font-size: 90%;
  font-family: $font-family-mono;

  max-height: 20em;
  overflow-y: auto;
}

.CodeMirror-hint {
  margin: 0;
  padding: 0 4px;
  border-radius: 2px;
  max-width: 19em;
  overflow: hidden;
  white-space: pre;
  color: black;
  cursor: pointer;
}

li.CodeMirror-hint-active {
  background: #08f;
  color: white;
}


.beaker-sandbox {
  @import "src/main/web/app/genweb/namespacedCss/beakerApp";
  @import "src/main/web/app/genweb/namespacedCss/beakerOutputDisplay";
}
