$beakerxFont: "Lato", Helvetica, sans-serif;

.beaker-easyform-container {
  font-family: $beakerxFont;

  .widget-inline-hbox {
    .widget-label {
      min-width: 120px;
      max-width: 200px;
      margin-right: 15px;
    }
  }

  .widget-select,
  .widget-select-multiple {
    width: auto;
    max-width: 100%;
    min-width: 380px;
  }

  .widget-select-multiple,
  .widget-select {
    > select {
      flex: unset;
      min-width: 30px;

      &[size] {
        overflow: auto;
      }
    }
  }

  .widget-textarea,
  .widget-text {
    width: auto;

    > [size],
    > [cols] {
      flex-grow: 0;
    }
  }

  .widget-radio-box input {
    margin-right: 10px;
  }

  .datepicker-container {
    align-items: stretch;

    .form-control {
      width: auto;
      border-right: 0;
      border-radius: 2px 0 0 2px;
    }
  }

  .widget-box > .widget-label {
    min-width: 120px;
    max-width: 200px;
    margin-right: 15px;
    text-align: right;
  }

  .widget-checkbox {
    width: auto;

    > .checkbox {
      flex: unset;
    }
  }

  .widget-hbox {
    .widget-radio {
      width: auto;
    }

    .widget-radio-box {
      flex-direction: row;

      label {
        min-width: 120px;
        max-width: 200px;
      }
    }
  }

  .p-Panel {
    .widget-checkbox {
      .widget-label {
        min-width: 0;
      }
    }
  }
}

.beaker-fieldset {
  border: 1px solid #cfcfcf;
  padding: 10px;
  font-family: $beakerxFont;
  overflow: visible !important;
  position: relative;
  margin-top: 10px !important;

  legend {
    border-bottom: none;
    margin-bottom: 0;
    font-size: 17px;
    position: absolute;
    top: -0.7em;
    background: white;
    width: auto;
    display: inline-block;
    padding: 0 4px;
  }

  .widget-inline-hbox {
    align-items: center;
  }
}

.easyform-combobox {
  position: relative;
  display: inline-block;

  .easyform-combobox-toggle {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: -1px;
    padding: 0;
  }

  .easyform-combobox-input {
    margin: 0;
    padding: 0 10px;
  }
}
