.lineplot-renderdiv {
	background-color: #FEFEFE;
	border: 1px solid #EEEEEE;
	-webkit-box-shadow: 1px 1px 5px rgba(0,0,0,0.5); /* inset? */
	-moz-box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
	/*width: 1200px;
	 height: 350px;*/
}
.lineplot-line {
	fill: none;
}
.lineplot-line, 
.lineplot-const,
.lineplot-coord,
.lineplot-coord-base,
.lineplot-bar, 
.lineplot-river, 
.line-plot-stem {
	stroke-width: 1;
	pointer-events: none;
}
.lineplot-coord {
	stroke: #111111;
	stroke-dasharray: 1, 1;
	stroke-width: 1;
	opacity: .5;
}

.lineplot-coord-base {
	stroke: #333333;
	stroke-width: 3;
	opacity: .75;
}

.lineplot-label, 
.lineplot-test, 
.lineplot-xylabel, 
.lineplot-cursorlabel, 
.lineplot-constlabel {
	font-family: verdana, helvetica, arial, sans-serif;
}

.lineplot-label {
	font-size: 0.75em;
}
.lineplot-text {
	font-size: 1.0em;
}
.lineplot-xylabel {
	font-size: 0.9em;
	text-anchor: middle;
}
.lineplot-cursorlabel,
.lineplot-constlabel {
	font-size: 0.75em;
	font-weight: bold;
	color: white;
	padding: 1px 5px;
	pointer-events: none;
	position: absolute;
	width: auto;
	height: auto;
	border-radius: 5px;
}

.lineplot-pointrect,
.lineplot-pointcircle {

}

.lineplot-locatebox {
	fill: #003366;
	opacity: 0.2;
}

.lineplot-truncatebox {
	fill: #FEFEFE;
}
.lineplot-cursor {
	pointer-events: none;
	stroke-width: 2.0;
}

.lineplot-title {
	text-align: center;
	width: 1200px;
	font-weight: bold;
	font-size: 1.2em;
	margin: 5px;
}
.lineplot-legendbox {
	width: 12px;
	height: 12px;
	margin: 0px 5px;
	display: inline-block;
}
.lineplot-legendcheckbox {
	margin: 0px !important;
	margin-right: 5px;
}

.lineplot-legendcontainer {
	stroke: gray;
	fill: #FEFEFE;
	position: absolute;
	padding-left: 10px;
	width: 150px;
	height: auto;
	/*border: 1px solid #EEEEEE; */
	-webkit-box-shadow: 1px 1px 5px rgba(0,0,0,0.5); /* inset? */
	-moz-box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
	background-color: white;
}
.lineplot-coverbox {
	fill: #FEFEFE;
}
.lineplot-dot {
	fill: white;
	stroke-width: 2;
}
.lineplot-tooltip {
	font-size: 0.9em;
	font-weight: bold;
	position: absolute;
	width: auto;
	height: auto;
	border: 2px solid;
	background-color: white;
	border-radius: 5px;
	padding: 1em;
}