@mixin fontFace($family,$src,$style: normal,$weight: normal) {
  @font-face {
    font-family: $family;
    src: url('#{$src}.woff') format('woff'), // standards
    url('#{$src}.ttf') format('truetype'); // Safari, Android, iOS

    font-style: $style;
    font-weight: $weight;
  }
}