.beaker-easyform-container {

  .widget-inline-hbox .widget-label {
    min-width: 120px;
    max-width: 200px;
    margin-right: 15px;
  }

  .widget-textarea,
  .widget-text,
  .widget-select,
  .widget-select-multiple {
    width: 380px;
  }

  .widget-radio-box input {
    margin-right: 10px;
  }
}