<?xml version="1.0" encoding="UTF-8" ?>
<configuration debug="false">

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%date %-5level [%class{0}.%M:%line] %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="FILE_KOTLIN" class="ch.qos.logback.core.FileAppender">
    <encoder>
      <pattern>%date %-5level [%class{0}.%M:%line] %msg%n</pattern>
    </encoder>
    <append>true</append>
    <file>../../logs/jupyter-kotlin-kernel.log</file>
  </appender>

  <logger name="com.twosigma.beakerx" level="debug">
    <appender-ref ref="FILE_KOTLIN" />
    <appender-ref ref="STDOUT" />
  </logger>

  <root level="info">
    <appender-ref ref="STDOUT" />
  </root>

</configuration>
